[Unit]
Description=APRSPY
After=multi-user.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
Group=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/BRB-GPS-GS/Python/pyserver.py
[Install]
WantedBy=multi-user.target