#map{
  height: 75vh;
}

#settingsFrame{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
  z-index: 1000;
  width: 50vw;
  height: 50vh;
  background-color: white;
}

.hidden{
  display: none;
}

#buttons{
display: flex;
flex-direction: row;
}

.buttonClass{
height: 5vh;
width: 15vw;
text-align: center;
line-height: 1em;
font-size: 1.25vh;
}

#FFL{
text-align: left;
}

#FFR{
text-align: right;
}

#FL{
text-align: left;
}

#FR{
text-align: right;
}

#CL{
text-align: left;
}

#CR{
text-align: right;
}

.green{
background-color: green;
}

#compassContainer{
position: fixed;
transform: translate(-50%, 50%);
left: 50vw;
top: 10vh;
width: 10vh;
height: 10vh;
z-index: 1100;
/* border: 3px solid orange; */
}

#compassCircle{
height: 10vh;
width: 10vh;
border-radius: 50%;
background-color: grey;
border: 1px solid black;
}

#rocketCont{
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
  top: 50%;
}

#compassRocket{
height: 5vh;
width: 1vh;
background-color: black;
transform-origin: bottom;
}

#northCont{
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
  top: 50%;
}

#compassNorth{
transform-origin: bottom;
height: 5vh;
width: 0.5vh;
background-color: red;
}

#northLabel{
position: absolute;
top: 0%;
left: 50%;
transform: translate(-50%, -5vh);
/* transform-origin: bottom; */
transform: rotate(90deg);
}